@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #4f772d;
    color: #fff;
    overflow-x: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 50px;
    text-align: center;
}

.counter{
    font-size: 60px;
    margin-top: 10px;
    letter-spacing: 10px;
}

span{
    letter-spacing: 5px;
}

@media(max-width: 1500px){
    .container{
        flex-direction: column;
        height: auto;
    }
}