* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #4470f3;
  }
  .container {
    background-color: #ffffff;
    width: min(90%, 450px);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 3em 2em;
    border-radius: 0.8em;
  }
  .input-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1em;
  }
  input {
    padding: 1em 0.5em;
    color: #262e45;
    border: 2px solid #e3e4ef;
  }
  input:focus {
    border-color: #4470f3;
  }
  button {
    border: none;
    background-color: #4470f3;
    color: #ffffff;
  }
  input,
  button {
    font-size: 1em;
    outline: none;
    border-radius: 0.5em;
  }
  #error {
    background-color: #fc4747;
    text-align: center;
    color: #ffffff;
    margin-top: 0.5em;
  }
  #output {
    font-size: 1.2em;
    text-align: center;
    font-weight: 600;
    color: #262e45;
    margin-top: 2em;
  }
  #output span {
    font-size: 0.9em;
  }