@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    font-family: 'Roboto' sans-serif;
}

.slider-container{
    font-size: 30px;
}

marquee{
    border: 3px solid #000;
}
