* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #7786f5;
  }
  .wrapper {
    position: absolute;
    width: 90%;
    max-width: 37em;
    background-color: #ffffff;
    padding: 7em 3em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    border-radius: 1em;
  }
  .controls-container {
    background-color: #7786f5;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
  }
  #start {
    font-size: 1.2em;
    padding: 1em 3em;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 2em;
    cursor: pointer;
  }
  #letter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em 0.4em;
    justify-content: center;
    margin-top: 2em;
  }
  #letter-container button {
    background-color: #ffffff;
    border: 2px solid #7786f5;
    color: #7786f5;
    outline: none;
    border-radius: 0.3em;
    cursor: pointer;
    height: 3em;
    width: 3em;
  }
  #letter-container .correct {
    background-color: #008000;
    color: #ffffff;
    border: 2px solid #008000;
  }
  #letter-container .incorrect {
    background-color: #8a8686;
    color: #ffffff;
    border: 2px solid #8a8686;
  }
  .hint-ref {
    margin-bottom: 1em;
  }
  .hint-ref span {
    font-weight: 600;
  }
  #chanceCount {
    margin: 1em 0;
    position: absolute;
    top: 0.62em;
    right: 2em;
  }
  #word {
    font-weight: 600;
    margin: 1em 0 2em 0;
  }
  #word span {
    text-transform: uppercase;
    font-weight: 400;
  }
  .hide {
    display: none;
  }